
.link {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 8em;
	line-height: 1;
	color: #9e9ba4;
	display: inline-block;
}

.link--name {
	font-style: italic;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 7em;
	padding: 0 10px 20px;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

.link--name:hover {
	color: #1e1a1b;
}

.link--name::before {
	content: '';
	position: absolute;
	height: 36px;
	width: 80%;
	top: 35%;
	margin-top: -18px;
	right: -30%;
	z-index: -1;
	background: #1E1A1B;
	-webkit-transform: rotate3d(0,0,1,110deg) scale3d(0,0.2,0.2);
	transform: rotate3d(0,0,1,110deg) scale3d(0,0.2,0.2);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.link--name:hover::before {
	-webkit-transform: rotate3d(0,0,1,110deg) scale3d(0.2,0.2,0.2);
	transform: rotate3d(0,0,1,110deg) scale3d(0.2,0.2,0.2);
}

.link--name span {
	font-size: 20%;
	font-weight: 400;
	position: absolute;
	right: 15px;
	color: #e53369;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translate3d(-10px,-10px,0);
	transform: translate3d(-10px,-10px,0);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.link--name:hover span {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


@media screen and (max-width: 42em) {
	.link--name { font-size: 3.5em; }
}