@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700,900|Dosis:800|Playfair+Display:400,400italic,900italic|Lora:700|Syncopate:700|Roboto+Condensed:300italic|Oswald:700);

*, *:after, *:before { box-sizing: border-box; }
.clearfix:before, .clearfix:after {display: table;  content: ''; }
.clearfix:after { clear: both; }*

body {
	background: #DDDDDD;
	color: #1e1a1b;
	font-weight: 500;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

header {
	position: relative;
  	height: 100vh;
  	width: 100%;
  	background: #5cbc9d;
  	overflow: hidden;
}

a {
	outline: none;
	color: #FFF;
	text-decoration: none;
}

a:hover {
	color: #FFF;
}

 a:focus {
 	outline: none;
 }

 .container {
 	display: table;
 	position: absolute;
 	height: 100%;
 	width: 100%;

 }

 .home {
 	display: table-cell;
 	vertical-align: middle;
 }

.hidden {
	height: 0;
	width: 0;
	overflow: hidden;
	position: absolute;
}

.subtitle {
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: absolute;
	bottom: 60px;
	height: 44px;
}

/* Grid */
.grid__item {
	height: calc(100vh - 5%);
	min-height: 460px;
	max-width: 100%;
	background: #DDD;
	position: relative;
	text-align: center;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-transform: translate3d(0,0,0); /* Solves Safari bug because of SVG clipping mask */
}

.grid__item p {
	font-size: 1.5em;
	font-weight: bold;
	color: #777;
}

/*ul {
	background-color: #dddddd;
}

li {
	display: inline;
	float: left;
}*/

.button {
  border-radius: 4px;
  background-color: #A08D7D;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.row {
	position: absolute;
	display: table;
	bottom: 200px;
	margin-right: auto;
	margin-left: auto;
}

ul.social-buttons li a {
	height: 100px;
	width: 100px;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	display: table-cell;
}

.list-inline {
	list-style-type: none;
	position: absolute;
    bottom: 200px;
    display: inherit;
    padding: 20px;
}

.fa-envelope-square:hover,
.fa-envelope-square:active,
.fa-envelope-square:focus {
	color: #000000;
}

.fa-github-square:hover,
.fa-github-square:active,
.fa-github-square:focus {
	color: #282a33;
}

.fa-linkedin-square:hover,
.fa-linkedin-square:active,
.fa-linkedin-square:focus {
	color: #1D87BD;
}


/* Background colors */
.color-1 { background: #E8E0DA; }
.color-2 { background: #576b67; }
.color-3 { background: #383A35; }
.color-4 { background: #333; }
.color-5 { background: #fda9a9; }
.color-7 { background: #cde7d3; }
.color-8 { background: #DCECDD; }
.color-9 { background: #dedbba; }
.color-10 { background: #222; }
.color-11 { background: #515151; }

